@import "../../../../../assets/css/variables/index.css";

.fieldset-group {
    display: flex;
    flex-wrap: wrap;

    .fieldset-col {
        flex: 0 0 65px;
        margin-right: var(--margin-md);

        &:last-child {
            margin-right: 0;
        }
    }
}

.fieldset-title {
    width: 100%;
    margin: 0;
}
