<div
  class="control"
  [ngClass]="{
    'control--error': !!control.errors && (control.dirty || control.touched)
  }"
>
  <label class="control-label" [for]="id"
    >{{ label }}
    <span class="optional" *ngIf="isOptional">(optional)</span></label
  >
  <p class="control-guidance" *ngIf="guidance">{{ guidance }}</p>
  <input
    class="text-input"
    [ngClass]="{ 'auto-width': autoWidth }"
    [type]="type"
    [id]="id"
    [name]="id"
    [formControl]="control"
    [readonly]="readOnly"
  />

  <div
    *ngIf="!!control.errors && (control.dirty || control.touched)"
    class="error-message"
  >
    <app-input-validation
      [validationErrors]="control.errors"
      [fieldName]="label"
    ></app-input-validation>
  </div>
</div>
